* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: cover; /* This property is incorrect, consider using 'width: 100%;' */
    height: 1000px;
    font-family: "Montserrat", sans-serif;
    background-color: #f7f5e8;
}

@media (max-width: 1200px) {
    .about_us, .information {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}
/*header*/
.logo {
    height: 50px; /* Adjust the height of the logo */
    margin-right: 20px; /* Space between the logo and the rest of the header */
}

.website_name a {
    width: 100%;
    height: 20px;
    text-decoration: none;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: center; /* Align to the right */
    align-items: center; /* Center align horizontally */
    padding: 10px 20px;
}

header {
    background-color: rgb(87, 177, 233);
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-image: url('headerimg.png');
    position: fixed;
    top: 0; /* Place header at the top of the page */
    width: 100%; /* Ensure header takes full width */
    z-index: 1000; /* Ensure header is above other elements */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main_menu {
    background-color: #6baadd;
    display: flex;
    list-style: none; /* Remove list item bullets */
    

}

.main_menu li {
    position: relative; /* Set this element as the reference for sub_menu */
    padding: 2px 10px;
    
}

.main_menu li a {
    display: block;
    text-decoration: none;
    margin: 11px;
}

.icon {
    width: 10px; /* Set the width of the image */
    height: auto; /* Height adjusts automatically to maintain aspect ratio */
}

.main_menu ul.sub_menu1 {
    width: auto;
    position: absolute;
    display: none; /* Hide sub_menu initially */
    list-style: none;
    padding: 8px 15px;
    background-color: #6baadd; /* Background color for sub_menu */
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); /* Add shadow to sub_menu */
    z-index: 10; /* Ensure sub_menu is above other elements */
}

.main_menu li:hover ul.sub_menu1 {
    display: block; /* Show sub_menu on hover */
}


.main_menu ul.sub_menu {
    position: absolute;
    display: none; /* Hide sub_menu initially */
    list-style: none;
    padding: 8px 15px;
    background-color: #6baadd; /* Background color for sub_menu */
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); /* Add shadow to sub_menu */
    z-index: 10; /* Ensure sub_menu is above other elements */
}

.main_menu li:hover ul.sub_menu {
    display: block; /* Show sub_menu on hover */
}
















.lang {
    height: 45px;
    display: flex;
    position: relative;
    right: 10px;
    margin-bottom: 20px;

}










/*body*/
.image {
    background-image: url("mountains-4292912.jpg");
    width: 100vw;
    height: 90vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 80px;
}

.image h1 {
    position: absolute;
    bottom: 50px;
    right: 50px;
    color: white;
    font-size: 56px;
    font-weight: bold;
}

.more h2 {
    display: flex;
    justify-content: center;
    align-items: center; /* Center vertically */
}

/* Container for the entire section */
.our_information {
    height: 300px;
    display: flex; /* Use flexbox for flexible layout */
    justify-content: space-between; /* Distribute space between items */
    background-image: url('headerimg.png');
    padding: 20px; /* Add padding inside the container */
    border-radius: 20px; /* Round the corners of the container */
    color: white; /* Set text color to white */
    margin: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.our_information {
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
    margin: 0 auto;
    width: 80%;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
}
.about_us span {
    display: block;
    font-size: 70px;
    
}
.about_us, .information {
    margin-bottom: 20px;
    
}




.info-container {
    display: flex;
    justify-content: space-between; /* Ensure blocks are spaced evenly */
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    gap: 20px; /* Add space between the blocks */
}

.info-block1, .info-block2, .info-block3, .info-block4{
    height: 400px;
    background-color: #f0f0f0; /* Light background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for 3D effect */
    border-radius: 10px; /* Rounded corners */
    text-align: center;
    padding-top: 300px;
    flex: 1; /* Ensure blocks take up equal space */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.info-block1 h1, .info-block2 h1, .info-block3 h1, .info-block4 h1 {
    font-size: 36px;
    margin-top: 10px;
    color: #fff;
    text-shadow: #222424;
    box-shadow: #222424;
}

.info-block1 p, .info-block2 p, .info-block3 p, .info-block4 p {
    font-size: 18px;
    color: #eee9e9;
}

.info-block1 {
    background-image: url('city.jpg');
    background-size: cover;
    background-position: center;
}
.info-block2 {
    background-image: url('year.jpg');
    background-size: cover;
    background-position: center;
}
.info-block3 {
    background-image: url('country.jpg');
    background-size: cover;
    background-position: center;
}
.info-block4 {
    background-image: url('population.jpg');
    background-size: cover;
    background-position: center;
}

.commoninfor {
    width: 100%;
    height: auto;
    margin: 0 auto; /* Center horizontally */
    text-align: center; /* Center text inside the block */
    
}






.personal-container1, .personal-container2, .personal-container3 {
    border-radius: 20px;
}

.footer_section {
    background: -webkit-gradient(linear, left top, left bottom, from(#5781b1), to(#89ced9));
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
}

.personal-container-wrapper {
    display: flex;
    justify-content: space-between; /* Ensure containers are spaced evenly */
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    gap: 20px; /* Add space between the containers */
}

.personal-container1, .personal-container2, .personal-container3 {
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    text-align: center;
    flex: 1; /* Ensure containers take up equal space */
    color: white;
}

.personal-header1, .personal-header2, .personal-header3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-pic1, .profile-pic2, .profile-pic3 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.personal-content1, .personal-content2, .personal-content3 {
    text-align: left;
    margin-top: 20px;
}

.personal-content1 h3, .personal-content2 h3, .personal-content3 h3 {
    margin-bottom: 10px;
}

.personal-content1 ul, .personal-content2 ul, .personal-content3 ul {
    list-style-type: none;
    padding: 0;
}

.personal-content1 ul li, .personal-content2 ul li, .personal-content3 ul li {
    margin-bottom: 5px;
}
/*footer*/
.site_map_footer {
    width: 100%;
    height: 100px;
}
.email ul{
    width: 100%;
    height: 200px;
    background-image: url('headerimg.png');
    color: #fff;
    display: flex;
    justify-content: center; /*căn lề phải*/
    align-items: center;
    gap: 50px;
    list-style: none;

}
.email a{
    display: block;
    margin: 10px;
    text-decoration: none;
}



